[submodule "nixpkgs-mozilla"]
	path = overlays/nixpkgs-mozilla
	url = git@github.com:bkchr/nixpkgs-mozilla.git
[submodule "nixpkgs"]
	path = nixpkgs
	url = git@github.com:bkchr/nixpkgs.git
[submodule "home/files/.emacs.d"]
	path = home/files/.emacs.d
	url = git@github.com:hlissner/doom-emacs.git
