[submodule "nixpkgs-mozilla"]
	path = overlays/nixpkgs-mozilla
	url = git@github.com:bkchr/nixpkgs-mozilla.git
[submodule "nixpkgs"]
	path = nixpkgs
	url = git@github.com:bkchr/nixpkgs.git
[submodule "overlays/wabt-overlay"]
	path = overlays/wabt-overlay
	url = git@github.com:bkchr/wabt-overlay.git
